body {
    text-align: center;
}
.contaner {
    display: flex;
    flex-wrap: nowrap;
    height: 590px;
    background-image: url('./../assets/Banner.svg');
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.Gov {
    text-align: center;
    font-family: sans-serif;
    flex-basis: 50%;
    margin-top: 0px;
}
.Gov h1 {
    color: #323232;
}
.Gov p {
    color: #898F9C;
}

input{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    color: #323232;
}

label{
    color: #323232;
}

button {
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
}
button:hover {
    background-color: #eee;
}
.image{
    flex-basis: 50%;
}
.image img {
    width: 100%;
}
#my-qr-code {
    margin-top: 50px;
}
.code{
    margin-top: 50px;
}